* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #091921;
}
.calculatrice {
  position: relative;
  display: grid;
}
.calculatrice .value {
  grid-column: span 4;
  height: 100px;
  text-align: right;
  border: 0;
  padding: 10px;
  font-size: 19px;
  border-radius: 25px 25px 0 0;
  border: 2px solid #fa1;
  outline: 0;
}
.calculatrice span {
  display: grid;
  width: 60px;
  height: 60px;
  color: white;
  background-color: #0c2835;
  place-items: center;
  border: 1px solid rgba(0, 0, 0.1);
  cursor: pointer;
}
.calculatrice button {
  display: grid;
  width: 60px;
  height: 60px;
  color: white;
  background-color: #0c2835;
  place-items: center;
  border: 1px solid rgba(0, 0, 0.1);
  cursor: pointer;
}
.calculatrice span:active {
  background-color: #fa1;
  color: #111;
}
.calculatrice span.delete {
  grid-column: span 2;
  width: 100%;
  background-color: #fa1;
}
.calculatrice span.plus {
  grid-row: span 2;
  height: 100%;
}
.calculatrice span.equal {
  background-color: #1877f2;
}
.title {
  width: 100%;
  background-color: green;
}
